/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Arial', sans-serif;
}

/* Top Section */
.top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.text-container,
/* Top Section Image */
.image-container {
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  max-height: 400px; /* tambahkan batas tinggi maksimum */
  width: auto;
  height: auto;
  border-radius: 8px;
}


.top h1 {
  text-align: center;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  max-width: 600px;
}

.black-text {
  color: black;
}

.orange-text {
  color: #F58706;
}

.top .p1,
.top .p2 {
  font-family: 'Montserrat', sans-serif;
  margin: 20px auto;
  font-size: 20px;
  max-width: 600px;
  color: black;
}

.top .p2 {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

/* About Button */
.button-about {
  position: absolute;
  top: 630px;
  left: 12%;
  background-color: #d48700;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-about:hover {
  background-color: rgb(173, 113, 2);
}

/* Angkringan Image */
img[alt="angkringan"] {
  position: absolute;
  top: 25%;
  right: 120px;
  width: 400px;
  height: auto;
}

/* Mid Section */
.mid {
  margin-top: 8%;
  background-color: white;
}

.circle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 8%;
}

.circle-item {
  display: flex;
  align-items: center;
  margin: 20px;
}

.circle1,
.circle2,
.circle3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d48700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.circle1 img,
.circle2 img,
.circle3 img {
  width: 60%;
  height: auto;
}

.circle-item p {
  font-size: 16px;
  margin-left: 10px;
}

/* Story Section */
.story-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

img[alt="angkringan2"] {
  width: 410px;
  height: auto;
  border-radius: 8px;
  margin-left: 100px;
}

img[alt="vektor"] {
  width: 30px;
  height: auto;
  margin: 0 110px 0 50px;
}

.text1 {
  max-width: 650px;
  font-family: 'Montserrat', sans-serif;
}

.text1 .left,
.text1 .center {
  text-align: justify;
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-left: 50px;
}

.text1 .left2,
.text1 .center2 {
  text-align: justify;
  font-size: 20px;
  color: #555;
  line-height: 1.5;
  margin-left: 50px;
  margin-bottom: 20px;
}

/* Menu Section */
.menu-section {
  text-align: center;
}

.menu-header {
  margin-top: 100px;
}

.line1 {
  display: block;
  width: 80px;
  border: 1px solid rgba(173, 94, 0, 1);
  margin: 10px auto;
}

.menu-title {
  font-size: 20px;
  margin: 10px 0;
}

.menu-section h2 {
  font-size: 50px;
  margin: 10px;
}

.menu-section p {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

/* Menu Container */
.menu-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  gap: 50px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-item {
  background-color: white;
  width: 250px;
  border-radius: 10px;
  flex-shrink: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.menu-item img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.menu-item-content {
  padding: 10px;
}

.h3-price {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: #d48700;
}

.rating-order {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.rating .stars {
  color: #d48700;
  font-size: 18px;
}

.order-btn {
  background-color: #d48700;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 10px;
}

.order-btn:hover {
  background-color: rgb(173, 113, 2);
}

.view-menu-btn,
.order-now-btn {
  display: inline-block;
  background-color: #d48700;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 50px auto 30px;
  transition: background-color 0.3s;
}

.view-menu-btn:hover,
.order-now-btn:hover {
  background-color: rgb(173, 113, 2);
}

/* Services Section */
.services {
  font-family: 'Montserrat', sans-serif;
  background-color: #F8EADF;
  margin-top: 50px;
  display: flex;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.services-header {
  font-size: 48px;
  color: #000;
  margin-top: 50px;
}

.services-header span {
  color: #F58706;
}

.line2 {
  display: block;
  width: 33%;
  border: 1px solid rgba(173, 94, 0, 1);
  margin: 10px 0;
}

.services-description {
  font-size: 20px;
  text-align: justify;
  max-width: 35%;
  margin-top: 30px;
}

.services-list {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 100px;
}

.service-item {
  background-color: #292E36;
  padding: 20px;
  width: 150px;
  height: 175px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item img {
  width: 60%;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 17px;
  color: white;
}

/* Testimonial Section */
.testimonial-section {
  text-align: center;
  padding: 50px 20px;
  background: white;
  font-family: 'Montserrat', sans-serif;
}

.testimonial-section h1 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.testimonial-section h2 {
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: bold;
}

.testimonial-section p {
  font-size: 18px;
  margin-bottom: 50px;
}

.line3 {
  width: 150px;
  height: 2px;
  background-color: #f49c3c;
  margin: 0 auto 10px;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.testimonial {
  background: #292E36;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  width: 350px;
  margin-bottom: 100px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin-right: 15px;
}

.testimonial h3 {
  margin-top: 10px;
  font-size: 18px;
}

.testimonial .location {
  font-size: 15px;
  color: #F8E5A5;
  margin-bottom: 35px;
}

.testimonial hr {
  border: none;
  border-top: 2px solid #FFFFFF;
  margin: 15px 0;
}

.testimonial .feedback {
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
}

/* Reservation Section */
.reservasi-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 100px;
}

.reservasi-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.reservation-form {
  max-width: 500px;
  margin: 200px auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reservation-form h2 {
  font-size: 20px;
  font-weight: lighter;
}

.reservation-form h1 {
  margin-top: 10px;
  font-size: 25px;
}

.line4 {
  border: none;
  border-top: 1px solid #d48700;
  width: 32%;
  margin: 0 auto;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #F58706;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: orange;
}
